<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippotranslation:translated</sv:value>
    <sv:value>mix:referenceable</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>9a796e6c-7f14-4211-aa31-4f697fe27c92</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-document</sv:value>
    <sv:value>new-events-folder</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>ebd89960-762d-4a31-b725-f77338168e7b</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="2016">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippotranslation:translated</sv:value>
      <sv:value>mix:referenceable</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>5ba4118b-63fc-4c3b-b4ae-9df58864a06d</sv:value>
    </sv:property>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-events-document</sv:value>
      <sv:value>new-events-folder</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>4dde7d2d-71d3-4844-8030-819dcb46a89b</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="04">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippotranslation:translated</sv:value>
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>7c627549-50fb-4321-80db-7c61978e44d4</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-events-document</sv:value>
        <sv:value>new-events-folder</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>5873b585-30ff-4f42-805e-ea94cab265b2</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="breakfast">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>b8f5eb45-7200-452a-b26e-3118a0dc60b8</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>customsessionpool:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>3f28119a-5233-452d-add3-6cab0b7f1444</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:enddate" sv:type="Date">
            <sv:value>2017-04-01T13:02:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:location" sv:type="String">
            <sv:value>Room 101</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/04/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:11:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>242e3ece-4245-4aea-b2d1-f1ef19abc137</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="customsessionpool:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="customsessionpool:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
      </sv:node>
      <sv:node sv:name="introduction-speech">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>18e36c35-429d-4fee-b76e-eeabcbfc08bb</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="introduction-speech">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>customsessionpool:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>b923f27a-05f9-462b-ac7f-b451aab7f439</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:date" sv:type="Date">
            <sv:value>2013-11-12T10:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:enddate" sv:type="Date">
            <sv:value>2017-04-01T13:02:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:introduction" sv:type="String">
            <sv:value>After breakfast there will be an introductory speech.</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:location" sv:type="String">
            <sv:value>Room 400</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:title" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/04/introduction-speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:02:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>567ea616-5a09-45f8-9658-f9f0841888f8</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="customsessionpool:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Speech will be about the workshop.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="customsessionpool:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>9f32434e-84e3-4150-a6f2-d89a67be2fb1</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="workshop">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>7a29ec60-2689-48b2-aca2-49696c5c23eb</sv:value>
        </sv:property>
        <sv:node sv:name="workshop">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>customsessionpool:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>ef9a9617-1b5c-4822-91ff-2f025c6d3476</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:date" sv:type="Date">
            <sv:value>2013-11-12T13:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:enddate" sv:type="Date">
            <sv:value>2017-04-01T13:02:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:introduction" sv:type="String">
            <sv:value>Workshop starts at 1:00</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:location" sv:type="String">
            <sv:value>Room 600</sv:value>
          </sv:property>
          <sv:property sv:name="customsessionpool:title" sv:type="String">
            <sv:value>Workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/04/workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:18:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>f2e55fa0-500d-4e58-b633-1972884c0605</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:node sv:name="customsessionpool:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;
          &lt;strong&gt;Everybody &lt;/strong&gt;
          &lt;p&gt;can join the workshop and start practicing what they learned during the last
          week.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="customsessionpool:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>d035387b-f9ce-49f6-bcb0-9ab6915a2d5f</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
